<% content_for :title, 'gamiis' %>
<% content_for :content do %>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">user1</h1>
  <img class="d-block mx-auto mb-4" src="../images/bootstrap-logo.svg" alt="" width="72" height="57">
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">参加グループ<br />15</button>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">フォロー<br />4</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">フォロワー<br />10</button>
    </div>
  </div>
</div>
<div class="container">
    <div class="row mb-4">
      <div class="col-lg-6 offset-lg-3">
        <div class="col-12 mb-4">
          <h2>最新のチャット</h2>
        </div>
        <div class="col-12">
          <div class="mb-3 px-3 py-3 border">
            <div class="d-flex align-items-start">
              <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                チャットだよ
              </div>
              <div>
                <p>名前 <span>1分前</span></p>
                <p>見出しを説明するための見出しの下のテキストの段落。私たちはそれに別の文を追加し、おそらく単語がなくなるまで続けます。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
